$color-body: 					#b0bec5;
$color-terminal-header: 		#90a4ae;
$color-username: 				#c2185b;
$color-command: 				#b0bec5;

$background-terminal-header: 	rgb(0,0,0);
$background-terminal-content:	rgb(25, 25, 25);
$background-terminal-footer:	rgb(25, 25, 25);

$font-body-family: 				'Hack';
$font-body-size:				12px;

$terminal-border-radius:		0.5rem;